<h4 mat-dialog-title>Edit resource allocation</h4>

<div class="main-text">
  Issue: {{allocation.key}}<br/>
  <span *ngIf="allocation.parent">Subtask of {{allocation.parent}}<br/></span>
  Assigned to<br/>
  Group: {{allocation.group}}&nbsp;&nbsp;Employee: {{employee.displayName}}<br/>
</div>

<div *ngIf="validations">
  <h5>Warnings</h5>
  <div *ngFor="let validation of validations" class="warning">{{validation.severity}}: {{validation.message}}</div>
</div>
<br>
<form [formGroup]="allocForm" #f="ngForm" (ngSubmit)="onUpdate(f)">
  <mat-dialog-content>
    <div>
      <mat-form-field hintLabel="Hours allocated">
        <input matInput type="text" id="whrs" [formControl]="whrs" maxlength="4" placeholder="Estimate" [errorStateMatcher]="matcher">
        <mat-error *ngIf="whrs.hasError('pattern') && !whrs.hasError('required')">Please enter valid number</mat-error>
        <mat-error *ngIf="whrs.hasError('required')">Value is required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea matInput id="comment" [formControl]="comment" maxlength="150" placeholder="Comment" rows="5" cols="130"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="button-row">
      <button mat-raised-button type="submit" [disabled]="allocForm.invalid">Update</button>
      <button mat-raised-button type="button" (click)="onDelete()" *ngIf="!is_new_allocation">Delete</button>
      <button mat-raised-button type="button" mat-dialog-close="">Cancel</button>
    </div>
  </mat-dialog-actions>
</form>
