<mat-table [dataSource]="allocSheet">
  <ng-container matColumnDef="group">
    <mat-header-cell *matHeaderCellDef>Group</mat-header-cell>
    <mat-cell *matCellDef="let row" class="main-text">{{row['group'].group}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="components">
    <mat-header-cell *matHeaderCellDef>Components</mat-header-cell>
    <mat-cell *matCellDef="let row" class="main-text">{{row['group'].components}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="employee">
    <mat-header-cell *matHeaderCellDef>Employee</mat-header-cell>
    <mat-cell *matCellDef="let row" class="main-text">{{row['employee'].displayName}}</mat-cell>
  </ng-container>

  <ng-container *ngFor="let date of timeline" matColumnDef="{{date}}">
    <mat-header-cell *matHeaderCellDef align="center">{{date}}</mat-header-cell>
    <mat-cell *matCellDef="let row" class="cell" div [dragula]='"bag-work"'
              [attr.id]='"work-dest"' [attr.employee_name]="row['employee'].name"
              [attr.employee_displayName]="row['employee'].displayName"
              [attr.date]="date" [attr.group]="row['group'].group">
      <ng-container *ngFor="let alloc of row[date]">
        <div class="main-text text-center cell-item selectable" (click)="onClick(alloc, row['employee'])">
          {{alloc.key}}&nbsp;&nbsp;{{alloc.whrs}}
        </div>
      </ng-container>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
</mat-table>
