/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/dhtmlx-gantt/codebase/dhtmlxgantt.css";

.main-text {
  font-size:11px;
  font-weight:500;
  font-family:Roboto,"Helvetica Neue",sans-serif;
}
.header {
  font-size:12px;
  font-weight:500;
  font-family:Roboto,"Helvetica Neue",sans-serif;
  background-color: #FFFAFA;
  padding:2px 2px 2px 2px;
}
.warning {
  font-size:11px;
  font-weight:500;
  color: #A52A2A;
}
.text-center {
  text-align:center;
}
.selectable {
  cursor: pointer;
}
.cell {
  border: 1px solid grey;
  align-self: stretch;
  background-color: #FFFAFA;
  padding:2px 2px 2px 2px;
  /*overflow-y: scroll;*/
}
.cell-item {
  padding:2px 2px 2px 2px;
  border:1px dotted grey;
  background-color:#D3D3D3;
}
.selected-item { /*should not be renamed until drag-n-drop workound replaced*/
  border:1px dotted grey;
  background-color:#D3D3D3;
}
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

